<div class="margin-bottom">
  <div fxFlex="100" fxLayout="column" *ngIf="(empresas$ | async) as listaCustomEmpresa">

    <div *ngIf="listaCustomEmpresa.vigilanciaList.length > 0" class="margin-bottom">
      <h2><b>Acesso Vigilâncias</b></h2>
      <div fxLayout="row wrap">
        <div matRipple class="card" style="user-select: none"
             *ngFor="let item of listaCustomEmpresa.vigilanciaList;let i = index" [attr.data-index]="i">
          <div style="display: flex; flex-direction: column" (click)="logarEmpresa(item)" >
            <mat-list-item>
              <img matListItemAvatar [src]="'../../../assets/img/icons/icons-128/image.png'" alt="logo">
              <div matListItemTitle
                   style="color: var(--primary-color); font-weight: bold">{{ item.nomeEmpresarial }}
              </div>
              <div matListItemLine>{{ item.nomeFantasia }}</div>
            </mat-list-item>
            <div fxLayout="row" fxFlexAlign="center " style="margin-top: 10px">
              <span style="color: var(--secondary-darker-color); font-size: 17px;">Acessar</span>
              <mat-icon style="color: var(--secondary-darker-color);">login</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="listaCustomEmpresa.empresaList.length > 0" class="margin-bottom">
      <h2><b>Acesso Empresas</b></h2>
      <div fxLayout="row wrap">
        <div matRipple class="card" style="user-select: none"
             *ngFor="let item of listaCustomEmpresa.empresaList;let i = index" [attr.data-index]="i">
          <div style="display: flex; flex-direction: column" (click)="logarEmpresa(item)" >
            <mat-list-item>
              <img matListItemAvatar [src]="'../../../assets/img/icons/icons-128/image.png'" alt="logo">
              <div matListItemTitle
                   style="color: var(--primary-color); font-weight: bold">
                {{ item.nomeEmpresarial }}
              </div>
              <div matListItemLine>{{ item.nomeFantasia }}</div>
            </mat-list-item>
            <div fxLayout="row" fxFlexAlign="center " style="margin-top: 10px">
              <span style="color: var(--secondary-darker-color); font-size: 17px;">Acessar</span>
              <mat-icon style="color: var(--secondary-darker-color);">login</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
