.button-menu{
    font-size: 14px;
    display: flex;
    margin-right: 15px;
}



.icon-verify{
    color: green;
    margin-right: 12px;
    margin-top: 8px;
    cursor: pointer;
}



.header-box{
    display: flex;
    width: 100%;
    height: 90px;
    align-items: center;
}