<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
  <p innerHTML={{message}}></p>
</div>
<div mat-dialog-actions style="float: right;">
  <button mat-button color="warn" type="button" [mat-dialog-close]="false">
    {{ closeButton ? 'Fechar' : 'Não' }}
  </button>
  <button *ngIf="!closeButton && nivel == 1" mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>
    Sim
  </button>

  <button *ngIf="!closeButton && nivel != 1"
          mat-flat-button color="primary" (click)="next()">Continuar ({{ nivel }})
  </button>
</div>
