<div fxLayout="column" fxFlex="100">
  <form fxLayout="column" *ngIf="empresaForm" [formGroup]="empresaForm"
        (submit)="empresaForm.valid ? save() : null">
    <mat-card>
      <mat-card-header>
        <h4 style="margin-bottom: 5px; margin-top: 0px">Dados da Empresa</h4>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="column">
          <div fxLayout="column" fxLayoutAlign="start" fxFlex="100">
            <mat-radio-group formControlName="tipoPessoa">
              <mat-radio-button *ngFor="let option of tipoPessoaList" [value]="option.value">
                {{ option.viewValue }}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div style="margin-top: 5px" *ngIf="empresaForm.get('tipoPessoa').value === 'JURIDICA'"
               fxLayout="row wrap" fxLayoutAlign="start" fxFlex="100">
            <div fxLayout="row wrap" fxLayoutAlign="start" fxFlex="100" fxLayoutGap="5px">
              <app-input autofocus [icon]="'remember_me'" [label]="'CNPJ'" [mask]="'00.000.000/0000-00'"
                         [parentControl]="empresaForm.get('cnpj')" [required]="false" fxFlex="25">
              </app-input>

              <button (click)="buscarEmpresaPorCnpj()" mat-raised-button type="button"
                      matTooltip="Busca dados empresariais pelo cnpj e auto completa os campos">
                <div style="display: flex; align-items: center">
                  <mat-icon>search</mat-icon>
                  Busca por CNPJ
                </div>
              </button>

            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start" fxFlex="100">
              <app-input [icon]="'apartment'" [label]="'Nome Empresarial'"
                         [parentControl]="empresaForm.get('nomeEmpresarial')" [required]="false"
                         fxFlex="40">
              </app-input>
              <app-input [ngStyle]="{'margin-left': '5px'}" [icon]="'apartment'" [label]="'Nome Fantasia'"
                         [parentControl]="empresaForm.get('nomeFantasia')" [required]="false" fxFlex="40">
              </app-input>
            </div>
            <div *ngIf="!vigilanciaCadastro" fxLayout="row wrap" fxLayoutAlign="start" fxFlex="100" fxLayoutGap="5px">
              <app-input [label]="'CNES'" [mask]="'0000000'"
                         [parentControl]="empresaForm.get('cnes')" [required]="false" fxFlex="30">
              </app-input>
              <app-input [label]="'Inscrição Estadual'" type="number"
                         [parentControl]="empresaForm.get('inscricaoEstadual')" [required]="false" fxFlex="30">
              </app-input>
              <app-input [label]="'Inscrição Municipal'" type="number"
                         [parentControl]="empresaForm.get('inscricaoMunicipal')" [required]="false" fxFlex="30">
              </app-input>
            </div>

            <app-autocomplete-natureza-juridica *ngIf="!vigilanciaCadastro" fxFlex="65" [parentControl]="empresaForm.get('naturezaJuridica')">
            </app-autocomplete-natureza-juridica>
          </div>

          <div style="margin-top: 5px" *ngIf="empresaForm.get('tipoPessoa').value === 'FISICA'"
               fxLayout="row wrap"
               fxLayoutAlign="start"
               fxFlex="100">
            <div fxLayout="row wrap" fxLayoutAlign="start" fxFlex="100">
              <app-input [icon]="'person'" [label]="'Nome'"
                         [parentControl]="empresaForm.get('nome')" [required]="false"
                         fxFlex="40">
              </app-input>
              <app-input [ngStyle]="{'margin-left': '5px'}" [icon]="'remember_me'" [label]="'CPF'"
                         [mask]="'000.000.000-00'"
                         [parentControl]="empresaForm.get('cpf')" [required]="false" fxFlex="30">
              </app-input>
            </div>
          </div>

          <div *ngIf="!vigilanciaCadastro" fxLayout="row wrap" fxLayoutAlign="start" fxFlex="100">
            <app-autocomplete-cnae-list #autocompleteCnae [required]="true"
                                        [multiple]="false"
                                        [label]="'Atividade Principal (CNAE)'" fxFlex="85"
                                        [parentControlUnique]="empresaForm.get('cnaePrincipal')">
            </app-autocomplete-cnae-list>

            <app-autocomplete-cnae-list #autocompleteCnaeList [required]="true"
                                        [multiple]="true"
                                        [cnaesSelecionadosInput]="empresaForm.get('cnaesSecundarios').value"
                                        [label]="'Atividades Secúndarias (CNAE)'" fxFlex="100"
                                        (listCnaes)="updateCnaes($event)"
                                        [parentControl]="empresaForm.get('cnaesSecundarios')">
            </app-autocomplete-cnae-list>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start" fxFlex="100">
            <app-input [icon]="'mail'" [label]="'E-mail Principal'" type="email"
                       [parentControl]="empresaForm.get('emailPrincipal')" [required]="false" fxFlex="40">
            </app-input>

            <app-input [ngStyle]="{'margin-left': '5px'}" [icon]="'phone'" [label]="'Telefone Principal'"
                       [mask]="'(00)0000-0000||(00)00000-0000'"
                       [parentControl]="empresaForm.get('telefonePrincipal')" [required]="false" fxFlex="30">
            </app-input>
          </div>

          <div fxLayout="column">
            <h4 style="margin-bottom: 5px; margin-top: 0px">Endereço</h4>

            <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="5px" fxFlex="90">
              <app-input [icon]="'home_pin'" fxFlex="25" [required]="true" [mask]="'00.000-000'"
                         [label]="'CEP'"
                         [parentControl]="empresaForm.get('cep')">
              </app-input>

              <app-autocomplete-municipio [icon]="'my_location'" fxFlex="40" [required]="false"
                                          [label]="'Município'"
                                          [parentControl]="empresaForm.get('municipio')"></app-autocomplete-municipio>

              <app-input [icon]="'signpost'" fxFlex="20" [required]="false" [label]="'Bairro'"
                         [parentControl]="empresaForm.get('bairro')" uppercase="true">
              </app-input>

              <app-input fxFlex="32" [required]="true" [label]="'Logradouro'"
                         [parentControl]="empresaForm.get('logradouro')" uppercase="true">
              </app-input>

              <app-input fxFlex="20" [required]="false" [label]="'Número'"
                         [parentControl]="empresaForm.get('numero')">
              </app-input>

              <app-input [required]="false" [icon]="'chat'" fxFlex="32" [label]="'Complemento'"
                         [parentControl]="empresaForm.get('complemento')">
              </app-input>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex="90">
              <app-input [icon]="'location_on'" fxFlex="40" [required]="false" [label]="'Latitude'"
                         [parentControl]="empresaForm.get('latitude')" uppercase="true">
              </app-input>
              <app-input [icon]="'location_on'" fxFlex="40" [required]="false" [label]="'Longitude'"
                         [parentControl]="empresaForm.get('longitude')" uppercase="true">
              </app-input>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="!vigilanciaCadastro">
      <mat-card-header>
        <h4 style="margin-bottom: 5px; margin-top: 0px">Representantes Legais</h4>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="100">
          <app-select-representante-legal-cadastro style="width: 100%;"
                                                   [parentControl]="empresaForm.get('representanteLegal')">
          </app-select-representante-legal-cadastro>
        </div>
      </mat-card-content>
    </mat-card>

    <div class="panel-buttons">
      <app-cancel-button (click)="cancel()"></app-cancel-button>
      <app-confirm-button [submitted]="submitted"></app-confirm-button>
    </div>
  </form>
</div>
