.box {
  width: 400px;
  height: auto;
  background: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;

  .logo {
      width: 111px;
      height: auto;
      margin: 30px 0;
  }

  .box-login {
      position: relative;
      width: 100%;
      -webkit-box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
      box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
      padding: 24px 32px 32px;
      border-radius: 8px;
      background: #fff;

      h1 {
          font-size: 36px;
          line-height: 1.25;
          font-weight: normal;
          color: rgb(40 53 147);
          padding: 0 0 4px;
          text-align: left;
      }

      p {
          font-size: 15px;
          margin: 20px 0 17px 0px;
          font-weight: 500;
      }

      .box-forgot {
          text-align: right;
          display: flex;
          width: 100%;
          align-items: flex-end;
          justify-content: flex-end;
          a {
              width: 102px;
              font-size: 14px;
              font-weight: 500;
              text-decoration: none;
              color: #005aff;
              line-height: 1;
          }
      }

      .box-buttons {
          padding-top: 30px;
          display: flex;
          justify-content: space-between;

          button {
              width: 120px;
              border-radius: 21px;
          }
      }
  }


}

@media screen and (max-width: 950px) {

  .box{
      width: 600px !important;

  }
}

@media screen and (max-width: 750px) {


  .box{
      width: 500px !important;

  }

}

@media screen and (max-width: 650px) {

  .box-login{
      box-shadow: none !important;

  }

  .box{
      padding: 40px !important;
      width: 100% !important;
      overflow-x: hidden;
  }

}
