<div fxLayout="column" fxFlex="100">
  <div fxFlex="100">
    <form fxLayout="column" *ngIf="denunciaForm" [formGroup]="denunciaForm"
          (submit)="denunciaForm.valid ? save() : null">

      <mat-checkbox formControlName="denunciaAnonima">
        Denúncia Anônima
      </mat-checkbox>

      <mat-card *ngIf="denunciaForm.get('denunciaAnonima').value == false">
        <mat-card-header><h4 style="margin-bottom: 5px; margin-top: 0px">Dados do Denunciante</h4></mat-card-header>
        <mat-card-content>
          <div fxLayout="column">
            <div fxLayout="column" fxLayoutAlign="start" fxFlex="100">
              <mat-radio-group formControlName="tipoPessoaDenunciante">
                <mat-radio-button *ngFor="let option of tipoPessoaList" [value]="option.value">
                  {{ option.viewValue }}
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <div style="margin-top: 5px" *ngIf="denunciaForm.get('tipoPessoaDenunciante').value === 'FISICA'"
                 fxLayout="row wrap"
                 fxLayoutAlign="start"
                 fxFlex="100">
              <div fxLayout="row wrap" fxLayoutAlign="start" fxFlex="100">
                <app-input [icon]="'person'" [label]="'Nome'"
                           [parentControl]="denunciaForm.get('identificacaoDenunciante')" [required]="false"
                           fxFlex="40">
                </app-input>
                <app-input [ngStyle]="{'margin-left': '5px'}" [icon]="'remember_me'" [label]="'CPF'"
                           [parentControl]="denunciaForm.get('documentoDenunciante')" [required]="false" fxFlex="30">
                </app-input>
              </div>
            </div>
            <div style="margin-top: 5px" *ngIf="denunciaForm.get('tipoPessoaDenunciante').value === 'JURIDICA'"
                 fxLayout="row wrap" fxLayoutAlign="start" fxFlex="100">
              <div fxLayout="row wrap" fxLayoutAlign="start" fxFlex="100">
                <app-input [icon]="'person'" [label]="'Razão Social'"
                           [parentControl]="denunciaForm.get('identificacaoDenunciante')" [required]="false"
                           fxFlex="40">
                </app-input>
                <app-input [ngStyle]="{'margin-left': '5px'}" [icon]="'remember_me'" [label]="'CNPJ'"
                           [parentControl]="denunciaForm.get('documentoDenunciante')" [required]="false" fxFlex="30">
                </app-input>
              </div>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="start" fxFlex="100">
              <app-input [icon]="'mail'" [label]="'E-mail'"
                         [parentControl]="denunciaForm.get('emailDenunciante')" [required]="false" fxFlex="40">
              </app-input>

              <app-input [ngStyle]="{'margin-left': '5px'}" [icon]="'phone'" [label]="'Telefone'"
                         [parentControl]="denunciaForm.get('telefoneDenunciante')" [required]="false" fxFlex="30">
              </app-input>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header><h4 style="margin-bottom: 5px; margin-top: 0px">Dados do Denunciado</h4></mat-card-header>
        <mat-card-content>
          <div fxLayout="column" fxFlex="100">

            <div fxLayout="column" fxLayoutAlign="start" fxFlex="100">
<!--              <h4 style="margin-bottom: 5px; margin-top: 10px">Tipo Pessoa</h4>-->
              <mat-radio-group formControlName="tipoPessoaDenunciado">
                <mat-radio-button *ngFor="let option of tipoPessoaList" [value]="option.value">
                  {{ option.viewValue }}
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <div *ngIf="denunciaForm.get('tipoPessoaDenunciado').value === 'FISICA'" fxLayout="row wrap"
                 fxLayoutAlign="start"
                 fxFlex="100">
              <div fxLayout="row wrap" fxLayoutAlign="start" fxFlex="100">
                <app-input [icon]="'person'" [label]="'Nome'"
                           [parentControl]="denunciaForm.get('identificacaoDenunciado')" [required]="false" fxFlex="40">
                </app-input>
                <app-input [ngStyle]="{'margin-left': '5px'}" [icon]="'remember_me'" [label]="'CPF'"
                           [parentControl]="denunciaForm.get('documentoDenunciado')" [required]="false" fxFlex="30">
                </app-input>
              </div>

            </div>
            <div *ngIf="denunciaForm.get('tipoPessoaDenunciado').value === 'JURIDICA'"
                 fxLayout="row wrap" fxLayoutAlign="start" fxFlex="100">
              <div fxLayout="row wrap" fxLayoutAlign="start" fxFlex="100">
                <app-input [icon]="'person'" [label]="'Razão Social'"
                           [parentControl]="denunciaForm.get('identificacaoDenunciado')" [required]="false" fxFlex="40">
                </app-input>
                <app-input [ngStyle]="{'margin-left': '5px'}" [icon]="'remember_me'" [label]="'CNPJ'"
                           [parentControl]="denunciaForm.get('documentoDenunciado')" [required]="false" fxFlex="30">
                </app-input>
              </div>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="start" fxFlex="100">
              <app-input [icon]="'mail'" [label]="'E-mail'"
                         [parentControl]="denunciaForm.get('emailDenunciado')" [required]="false" fxFlex="40">
              </app-input>

              <app-input [ngStyle]="{'margin-left': '5px'}" [icon]="'phone'" [label]="'Telefone'"
                         [parentControl]="denunciaForm.get('telefoneDenunciado')" [required]="false" fxFlex="30">
              </app-input>
            </div>

            <div fxLayout="column">
              <h4 style="margin-bottom: 5px; margin-top: 0px">Endereço</h4>

              <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="100">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="85">
                  <app-input [icon]="'home_pin'" fxFlex="25" [required]="true" [mask]="'00000-000'"
                             [label]="'CEP'" [eventBlur]="true"
                             (blur)="findMunicipioByCep()"
                             [parentControl]="denunciaForm.get('cep')">
                  </app-input>

                  <app-autocomplete-municipio [icon]="'my_location'" fxFlex="40" [required]="false"
                                              [label]="'Município'"
                                              [parentControl]="denunciaForm.get('municipio')"></app-autocomplete-municipio>

                  <app-input [icon]="'signpost'" fxFlex="20" [required]="false" [label]="'Bairro'"
                             [parentControl]="denunciaForm.get('bairro')" uppercase="true">
                  </app-input>

                  <app-input fxFlex="32" [required]="true" [label]="'Logradouro'"
                             [parentControl]="denunciaForm.get('logradouro')" uppercase="true">
                  </app-input>

                  <app-input fxFlex="32" [required]="false" [label]="'Número'"
                             [parentControl]="denunciaForm.get('numero')">
                  </app-input>

                  <app-input [required]="false" [icon]="'chat'" fxFlex="32" [label]="'Complemento'"
                             [parentControl]="denunciaForm.get('complemento')">
                  </app-input>

                </div>
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="100">
                  <app-input [icon]="'location_on'" fxFlex="50" [required]="false" [label]="'Latitude'"
                             [parentControl]="denunciaForm.get('latitude')" uppercase="true">
                  </app-input>
                  <app-input [icon]="'location_on'" fxFlex="50" [required]="false" [label]="'Longitude'"
                             [parentControl]="denunciaForm.get('longitude')" uppercase="true">
                  </app-input>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header><h4 style="margin-bottom: 5px; margin-top: 0px">Dados da Denúncia</h4></mat-card-header>
        <mat-card-content>
          <div fxLayout="column">
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100">
              <app-input-date fxFlex="40" [time]="true" [parentControl]="denunciaForm.get('dataOcorrido')"
                              label="Data do Ocorrido">
              </app-input-date>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="100">
              <app-textarea [icon]="'report'" (focus)="true" [label]="'Descrição do ocorrido'"
                            [parentControl]="denunciaForm.get('descricao')" [required]="true" fxFlex="60">
              </app-textarea>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100">
              <app-input-select-enum name="enumTipoEntrada"
                                     [label]="'Tipo de Entrada'"
                                     [options]="tipoEntradaList"
                                     [parentControl]="denunciaForm.get('tipoEntrada')">
              </app-input-select-enum>

              <app-input-select-enum [ngStyle]="{'margin-left': '5px'}"
                                     [label]="'Status Denúncia'"
                                     [options]="statusDenunciaList"
                                     [parentControl]="denunciaForm.get('statusDenuncia')">
              </app-input-select-enum>

              <app-autocomplete-tipo-denuncia [ngStyle]="{'margin-left': '5px'}" fxFlex="30" [required]="false"
                                              [label]="'Tipo Denúncia'"
                                              [parentControl]="denunciaForm.get('tipoDenuncia')"></app-autocomplete-tipo-denuncia>
            </div>

            <app-input-file (arquivosSelecionados)="onSelectArquive($event)"></app-input-file>

          </div>
        </mat-card-content>
      </mat-card>

      <div class="panel-buttons">

        <app-cancel-button (click)="cancel()"></app-cancel-button>
        <app-confirm-button [submitted]="submitted"></app-confirm-button>

      </div>
    </form>
  </div>
</div>
