<form fxLayout="column" [formGroup]="form" (submit)="form.valid ? emit() : null">
  <h2 mat-dialog-title>Dados do Representante</h2>
  <mat-dialog-content>
    <div style="margin-top: 10px" fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="100">
      <div fxLayout="row wrap" fxLayoutAlign="start" fxFlex="100">
        <app-input [icon]="'person'" [label]="'Nome'"
                   [parentControl]="form.get('nome')" [required]="false"
                   fxFlex="50">
        </app-input>
        <app-input [ngStyle]="{'margin-left': '5px'}" [icon]="'remember_me'" [label]="'CPF'"
                   [mask]="'000.000.000-00'"
                   [parentControl]="form.get('cpf')" [required]="false" fxFlex="45">
        </app-input>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex="100">
        <app-input [icon]="'remember_me'" [label]="'RG'"
                   [parentControl]="form.get('rg')" [required]="false" fxFlex="35">
        </app-input>
        <app-input-date fxFlex="60" [time]="false" [parentControl]="form.get('dataEmissao')"
                        label="Data Emissão">
        </app-input-date>
        <app-autocomplete-orgao-emissor [required]="false" fxFlex="85" [parentControl]="form.get('orgaoEmissor')">
        </app-autocomplete-orgao-emissor>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <app-cancel-button (click)="cancel()"></app-cancel-button>
    <app-update-button [submitted]="submitted" *ngIf="respAss != null"></app-update-button>
    <app-confirm-button [label]="'ADICIONAR'" [addButton]="true" [submitted]="submitted" *ngIf="respAss == null"></app-confirm-button>
  </mat-dialog-actions>
</form>
