<div fxLayout="column">
  <mat-form-field appearance="fill">
    <mat-label>Buscar</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex: razão social, nome"
      #input />
  </mat-form-field>

  <div fxLayout="column" class="mat-elevation-z4">
    <table fxFlex="100" mat-table [dataSource]="dataSourceEmpresas">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="tipoEmpresa">
        <th mat-header-cell *matHeaderCellDef>Tipo Empresa</th>
        <td mat-cell *matCellDef="let element">{{ element.tipoEmpresa }}</td>
      </ng-container>

      <ng-container matColumnDef="tipoPessoa">
        <th mat-header-cell *matHeaderCellDef>Tipo Pessoa</th>
        <td mat-cell *matCellDef="let element">{{ element.tipoPessoa }}</td>
      </ng-container>

      <ng-container matColumnDef="cnpj-cpf">
        <th mat-header-cell *matHeaderCellDef>CNPJ / CPF</th>
        <td mat-cell *matCellDef="let element">{{ element.tipoPessoa === 'JURIDICA' ? formatCnpj(element.cnpj) : formatCpf(element.cpf) }}</td>
      </ng-container>

      <ng-container matColumnDef="nomeEmpresarial-nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.tipoPessoa === 'JURIDICA' ? element.nomeEmpresarial : element.nome}}</td>
      </ng-container>

      <ng-container matColumnDef="situacao">
        <th mat-header-cell *matHeaderCellDef>Situação</th>
        <td mat-cell *matCellDef="let element">
          <app-situacao-label [situacaoKey]="element.situacao"></app-situacao-label>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="action">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #action="matMenu">
            <button mat-menu-item (click)="deleteEmpresa(element.id)">
              <mat-icon>delete</mat-icon>
              Excluir
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="6">Nenhuma empresa encontrada!</td>
      </tr>

    </table>
    <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>

  <div class="margin-button">
    <app-new-button [routerLink]="['cadastro']"></app-new-button>
  </div>
</div>


