.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 33vw;
  min-width: 387px;
}

.text {
  min-width: auto;
  margin: 0px 10px;
}

::ng-deep .mat-mdc-snack-bar-container {
  .mat-mdc-snackbar-surface {
    color: white;
    border-radius: 8px;
    background-color: #ed7919 !important;
  }
}
