<div fxLayout="row" fxFlex="100" fxLayoutGap="5px" >
  <mat-form-field appearance="outline" [fxFlex]="confirmPassword ? 50 : 100">
    <mat-label>{{label}}</mat-label>
    <input (input)="isValidPasswordConfirm()" matInput [formControl]="parentControl" [type]="hide ? 'password' : 'text'"
      [required]="requireInput">
    <mat-icon style="cursor: pointer;" matSuffix (click)="hide = !hide" color="primary">{{hide ?
      'visibility_off_outlined' :
      'visibility_outlined'}}</mat-icon>
    <mat-error *ngIf="parentControl.hasError('required')">
      {{label}} é obrigatório
    </mat-error>
    <mat-error *ngIf="parentControl.hasError('minlength')">
      {{label}} deve conter no minimo 6 caracteres
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="confirmPassword" appearance="outline" fxFlex="50">
    <mat-label>Confirmar senha</mat-label>
    <input required (input)="isValidPasswordConfirm()" matInput [formControl]="parentControlConfirm"
      [type]="'password'">
    <mat-error *ngIf="parentControlConfirm.hasError('required')">
      Por favor confirme sua senha
    </mat-error>
    <mat-error *ngIf="parentControlConfirm.hasError('passwordMismatch') && !parentControlConfirm.hasError('required')">
      Senhas não coincidem
    </mat-error>
  </mat-form-field>
</div>
