.box-default {
  padding: 2px 12px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.3490196078);
  width: max-content;
  margin-top: 2px;
  text-transform: uppercase;
  margin-bottom: 2px;
  font-weight: bold;
  letter-spacing: 1px;
}


.ativo-style {
  background-color: #26a64c;
  color: white;
}

.inativo-style {
  background-color: #8c8c8c;
  color: white;
}

.excluido-style {
  background-color: #e11717;
  color: white;
}

.enviado {
  background-color: #9f49ff;
  color: white;
}

.emAnalise {
  background-color: #f9900d;
  color: white;
}

.aprovado {
  background-color: #36a954;
  color: white;
}

.negado {
  background-color: #ff2323;
  color: white;
}

.cancelado {
  background-color: gray;
  color: white;
}


.preFaturado {
  background: #6c0000;
  color: white;
}


.fraturado {
  background-color: #36a954;
  color: white;
}

.paciente-faltou {
  background-color: #d17300;
  color: white;
}
