<mat-form-field *ngIf="multiple" fxFlex="100" class="example-chip-list" appearance="outline">
  <mat-label>{{label}}</mat-label>
  <mat-chip-grid #chipGrid aria-label="CNAE selection">
    <mat-chip-row *ngFor="let atividade of cnaesSelecionados(); trackBy: trackByFn" (removed)="removeCnae(atividade)">
      {{ displayFn(atividade) }}
      <button matChipRemove [attr.aria-label]="'remove ' + displayFn(atividade)">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
  </mat-chip-grid>

  <input
    name="currentCnae"
    placeholder="Buscar cnae..."
    #cnaeInput
    [ngModel]="currentCnae()"
    (ngModelChange)="currentCnae.set($event)"
    [matChipInputFor]="chipGrid"
    [matAutocomplete]="auto"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
  />
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedCnae($event)" [displayWith]="displayFn">
    <mat-option *ngFor="let atividade of filteredCnaes(); trackBy: trackByFn" [value]="atividade">
      {{ displayFn(atividade) }}
    </mat-option>
  </mat-autocomplete>

  <mat-error *ngIf="parentControl.hasError('required')">
    {{label}} é obrigatório
  </mat-error>

  <mat-error *ngIf="parentControl.hasError('incorrect') && !parentControl.hasError('required')">
    Selecione uma das opções
  </mat-error>

</mat-form-field>

<mat-form-field *ngIf="!multiple" fxFlex="70" appearance="outline">
  <mat-label>{{label}}</mat-label>
  <input [required]="required" placeholder="Selecione..." matInput [formControl]="parentControlUnique"
         [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">

    <mat-option *ngFor="let option of atividadeCnaeFiltered | async" [value]="option">
      {{ displayFn(option) }}
    </mat-option>

  </mat-autocomplete>

  <mat-error *ngIf="parentControlUnique.hasError('required')">
    {{label}} é obrigatório
  </mat-error>

  <mat-error *ngIf="parentControlUnique.hasError('incorrect') && !parentControlUnique.hasError('required')">
    Selecione uma das opções
  </mat-error>

</mat-form-field>

