<form fxLayout="column" [formGroup]="usuarioForm" (submit)="usuarioForm.valid ? registraUsuario() : null">
  <mat-card>
    <mat-card-header>
      <h3 style="margin-bottom: 5px; margin-top: 0px">Dados do Usuário</h3>
    </mat-card-header>
    <mat-card-content>


      <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="100">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="70">
          <div fxLayout="row" fxFlex="100" fxLayoutGap="5px">
            <app-input [focus]="true" [label]="'Nome'" [parentControl]="usuarioForm.get('nome')" [required]="true"
                       [icon]="'person'" fxFlex="70">
            </app-input>
          </div>

          <div fxLayout="row" fxFlex="100">
            <app-input [icon]="'remember_me'" [label]="'CPF'"
                       [mask]="'000.000.000-00'"
                       [parentControl]="usuarioForm.get('cpf')" [required]="true" fxFlex="50">
            </app-input>
          </div>

          <div fxLayout="row" fxFlex="100" fxLayoutGap="5px">
            <app-input [icon]="'mail'" [label]="'E-mail'" type="email"
                       [parentControl]="usuarioForm.get('email')" [required]="false" fxFlex="50">
            </app-input>

            <app-input fxFlex="50" [mask]="'(00)0000-0000 || (00)00000-0000'" [required]="true" [label]="'Telefone'"
                       [icon]="'phone_iphone'" [parentControl]="usuarioForm.get('telefone')">
            </app-input>
          </div>
        </div>
        <div fxLayout="row" fxFlex="100">
          <app-input-password fxFlex="70" [label]="'Senha'" [confirmPassword]="true" [title]="'Senha'"
                              [parentControl]="usuarioForm.get('password')"
                              [parentControlConfirm]="usuarioForm.get('passwordConfirm')">
          </app-input-password>
        </div>

        <app-autocomplete-perfil *ngIf="empresaLogadaId != undefined"
                                 [required]="true" [label]="'Perfil'" [icon]="'badge'" fxFlex="70"
                                 [parentControl]="usuarioForm.get('perfil')">
        </app-autocomplete-perfil>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="panel-buttons">
    <app-cancel-button (click)="back()"></app-cancel-button>
    <app-confirm-button [submitted]="submitted"></app-confirm-button>
  </div>
</form>
