<div fxLayout="column">


  <div fxLayout="column" class="mat-elevation-z4">
<!--    <p-table [value]="dataSourceTipoDenuncia" [tableStyle]="{ 'min-width': '50rem' }">-->
<!--      <ng-template pTemplate="header">-->
<!--        <tr>-->
<!--          <th>Id</th>-->
<!--          <th>Descrição</th>-->
<!--          <th>Situação</th>-->
<!--          <th>Action</th>-->
<!--        </tr>-->
<!--      </ng-template>-->
<!--      <ng-template pTemplate="body" let-element>-->
<!--        <tr>-->
<!--          <td>{{ element.id }}</td>-->
<!--          <td>{{ element.descricao }}</td>-->
<!--          <td>-->
<!--            <app-situacao-label [descricao]="element.situacao.descricao" [styleClass]="element.situacao.styleClass">-->
<!--            </app-situacao-label>-->
<!--          </td>-->
<!--          <td></td>-->
<!--        </tr>-->
<!--      </ng-template>-->
<!--    </p-table>-->

    <table fxFlex="100" mat-table [dataSource]="dataSourceTipoDenuncia">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>

        <td mat-cell *matCellDef="let element">{{ element.descricao }}</td>
      </ng-container>

      <ng-container matColumnDef="situacao">
        <th mat-header-cell ngStyle *matHeaderCellDef>Situação</th>
        <td mat-cell *matCellDef="let element">
          <app-situacao-label [situacaoKey]="element.situacao"></app-situacao-label>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">a</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Nenhum tipo denúncia encontrado!</td>
      </tr>

    </table>
  </div>
  <div class="margin-button">
    <app-new-button [routerLink]="['cadastro']"></app-new-button>
  </div>
</div>


